body
  font-family: Verdana

a
  cursor: pointer

.hand
  background: blue
  height: 350px
  width: 350px
  margin: 0 100px 0 0
  display: inline-block

.left_fist
  background: url('left_fist.png') no-repeat center left

.right_fist
  background: url('right_fist.png') no-repeat center left

.left_paper
  background: url('left_paper.png') no-repeat center left

.right_paper
  background: url('right_paper.png') no-repeat center left

.left_scissors
  background: url('scissors_left.png') no-repeat center left

.right_scissors
  background: url('scissors_right.png') no-repeat center left
