body
  font-family: Verdana

a
  cursor: pointer

section.table
  background: url('table.jpg') no-repeat
  background-position: 0px 100px
  height: 900px

#hand_area
  height: 500px
  margin-left: 40px

  .hand
    height: 350px
    width: 350px
    margin: 0 100px 0 0
    display: inline-block
    transition: padding .2s linear
    &:first-of-type
      cursor: pointer

  .left_rock
    background: url('left_rock.png') no-repeat center left

  .right_rock
    background: url('right_rock.png') no-repeat center left

  .left_paper
    background: url('left_paper.png') no-repeat center left

  .right_paper
    background: url('right_paper.png') no-repeat center left

  .left_scissors
    background: url('left_scissors.png') no-repeat center left

  .right_scissors
    background: url('right_scissors.png') no-repeat center left


input[type='submit']
  padding: 10px 30px
  font-size: 20px
  background: orange
  color: #222
  border: none

.play_button
  margin-left: 280px

input[disabled=disabled][type='submit']
  background: #999

#stats
  float: right
  margin: 0 20% 0 0
  .stat
    display: inline-block
    margin-right: 20px

.message
  font-size: 25px
  display: none
  position: fixed
  top: 100px
  left: 340px
  background: #ddd
  padding: 20px 40px

#win_message
  color: green

#loss_message
  color: red

#tie_message
  color: orange
