body
  font-family: Verdana

a
  cursor: pointer

.hand
  background: blue
  height: 350px
  width: 350px
  margin: 0 100px 0 0
  display: inline-block

.left_fist
  background: url('fist_left.png') no-repeat center left

.right_fist
  background: url('fist_right.png') no-repeat center left

